
$primary-color: #f5f3ef;
$highlight-color: #baaa92;

$dark-border-color: #b1aeae;
$light-border-color: #eeeeee;

$disabled-color: #c7c7c7;

$text-color: #333;
$light-text-color: #dedede;

$standard-padding: 8px;
$standard-margin: 8px;
