.u-table {
  width: 100%;
  border-collapse: collapse;
  .row {
    height: 60px;
  }
  .col {
    border-bottom: 1px solid $dark-border-color;
    padding: $standard-padding;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}

